{% extends '::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <table class="table">
                <tbody id="last-draws" data-last-id="0"></tbody>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Tirage</th>
                    <th>Gagnants</th>
                    <th>Gain</th>
                </tr>
                </thead>
            </table>
            <div style="text-align: center">
                <button id="load-more" disabled type="button" class="btn btn-info">Charger 10 de plus</button>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8">
        $(function () {
            var $lastDraws = $('#last-draws'),
                $loadMore = $('#load-more'),
                last10DrawsAfterIdUrl = '{{ url('last-10-draws', {'id' : 0}) }}';

            var formatCurrencyAmount = function (amount) {
                var formattedAmount = (amount + '').split('').reverse().reduce(function (acc, num, i, orig) {
                        return num == '-' ? acc : num + (i && !(i % 3) ? ' ' : '') + acc;
                    }, '') + ' €';

                return '0 €' == formattedAmount ? '-' : formattedAmount;
            };

            var last10DrawsAfterIdAction = function () {
                var id = $lastDraws.attr('data-last-id');

                $.getJSON(last10DrawsAfterIdUrl.replace('/0/', '/' + id + '/'), function (last10DrawsAfterIdUrl) {
                    $.each(last10DrawsAfterIdUrl[0], function (key, val) {
                        var dateObj = new Date(val.jour.timestamp * 1000),
                            dateTirage = dateObj.getDate() < 10 ? '0' + dateObj.getDate() : dateObj.getDate();
                        dateTirage += '/' + ((dateObj.getMonth() + 1) < 10 ? '0' + (dateObj.getMonth() + 1) : (dateObj.getMonth() + 1));
                        dateTirage += '/' + dateObj.getFullYear();

                        var count = '-',
                            amount = '-';
                        for (var i = 0; i < val.gagnants.length; i++) {
                            if (val.gagnants[i].rang == 1) {
                                if(val.gagnants[i].nombre > 0) {
                                    count = val.gagnants[i].nombre;
                                    amount = formatCurrencyAmount(val.gagnants[i].gains);
                                }
                                break;
                            }
                        }

                        var newTr = '<tr> \
                        <td>' + dateTirage + '</td> \
                        <td>' + val.boule1 + '-' + val.boule2 + '-' + val.boule3 + '-' + val.boule4 + '-' + val.boule5 + ' / ' + val.etoile1 + '-' + val.etoile2 + '</td> \
                        <td>' + count + '</td> \
                        <td>' + amount + '</td> \
                    </tr>';
                        $lastDraws.append(newTr);
                        $lastDraws.attr('data-last-id', val.id);
                    });

                    if (last10DrawsAfterIdUrl[0].length < 10)
                        $loadMore.hide();
                    else
                        $loadMore.removeAttr('disabled');
                });
            };

            last10DrawsAfterIdAction();

            $loadMore.on('click', function () {
                $loadMore.attr('disabled', true);

                last10DrawsAfterIdAction();
            })
        });
    </script>
{% endblock %}